<hr />
<p>All content on this site is CC-BY-SA 4.0. Do with it what you will, but link back to this page, and if you publicly-release any content based on this page’s resources, be sure to license that content as CC-BY-SA 4.0, as well.</p>

<p>All resources on this site <a href="https://codercar.botinabox.ca">https://codercar.botinabox.ca</a> are provided for informational purposes only. Anything you do because of what you read on this site is at your own risk, and I am not responsible for
    whatever happens because you accessed this site.</p>

<p>CodeRcar is an open-source project, released AS-IS, with no warranty (expressed or implied).</p>

<p>Have fun; learn something; be safe.</p>

<p>Sincerely, Matthew Piercey - Owner of Bot-In-a-Box Educational Robotics</p>